apiVersion: apps/v1
kind: Deployment
metadata:
  name: localstack-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: localstack
  template:
    metadata:
      labels:
        app: localstack
    spec:
      containers:
      - name: localstack
        image: localstack/localstack:3.2.0
        ports:
        - containerPort: 4566
        env:
        - name: SERVICES
          value: "s3,sqs"
        - name: DEFAULT_REGION
          value: "us-east-1"
---
apiVersion: v1
kind: Service
metadata:
  name: localstack-service
spec:
  selector:
    app: localstack
  ports:
    - protocol: TCP
      port: 4566
      targetPort: 4566
